{% extends 'base.html' %}

{% block div %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category == 'Успех' %}
                <div class="alert alert-success {{ category }}" role="alert">{{ message }}</div>
            {% else %}
                <div class="alert alert-info {{ category }}" role="alert">{{ message }}</div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block main %}
    {% if record %}
    <div class="container-lg mt-3">
        <h2>Сайт: {{ record[1] }}</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-hover text-nowrap" data-test="url">
                <tbody>
                    <tr>
                        <td>ID</td>
                        <td>{{ record[0] }}</td>
                    </tr>
                    <tr>
                        <td>Имя</td>
                        <td>{{ record[1] }}</td>
                    </tr>
                    <tr>
                        <td>Дата создания</td>
                        <td>{{ record[2] }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
        <div class="container-lg mt-3">
            <h1>Страница не найдена</h1>
            <p>Здесь нет того, что вы ищете</p>
            <p>
                <a href="{{ url_for('index') }}">Вернуться на главную</a>
            </p>
        </div>
    {% endif %}
{% endblock %}