{% extends 'base.html' %}

{% block main %}
<div class="container-lg mt-3">
    <h2>Сайты</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-hover text-nowrap" data-test="urls">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Имя</th>
                    <th>Последняя проверка</th>
                    <th>Код ответа</th>
                </tr>
            </thead>
            {% for url in urls %}
            <tbody>
                <tr>
                    <td>{{ url.id }}</td>
                    <td>
                        <a href="{{ url_for('get_url_id', id=url.id) }}">{{ url.name }}</a>
                    </td>
                    {% if url.id in url_checks %}
                        <td> {{ url_checks[url.id].max }}</td>
                        <td> {{ url_checks[url.id].status_code }}</td>
                    {% else %}
                        <td></td>
                        <td></td>
                    {% endif %}
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}